.first_img_div {
    position: absolute;
    display: inline-block;
    max-width: 100px;
    max-height: 100px;
    transition: transform 0.2s;


}

.img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#prt_1 {
    width: 100px;
    height: 100px;
}

#prt_2 {
    width: 50px;
    height: 50px;
}

#prt_3 {
    width: 70px;
    height: 95px;

}


#box_to_drug {
    width: 700px;
    height: 500px;
    border: solid blue;
}

.is-dragging {
    opacity: 0.5;
    scale: 1.05;
}

#win-massege {
    display: none;
}

.win-animation {
    position: absolute;
    background-image: url("../images/sunny.png");
    z-index: 2;
    background-size: 100% 100%;
    width: 100px;
    height: 100px;
    left: 880px;
    top: 750px;
    animation-name: sun;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes sun {
    to {
        left: 100px;
    }

}